Business Intelligence Project    
Name: Zehra Ahmed, Farah Inayat, Kisa Fatima, Zuha Aqib    
Date: 18-May-2025

In [257]:
# print when the last code was run
from datetime import datetime
datetime.now().strftime("%Y-%m-%d %H:%M:%S")

'2025-05-30 13:40:31'

In [258]:
# Capture start time
start_time = datetime.now()

# Imports

In [259]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime, timedelta

### Some Functions
some preliminary functions we can use in the code

# Data Loading

In [260]:
# Load the dataset
df = pd.read_csv('../data/flights_jantojun2020_3M.csv')

pd.set_option('display.max_columns', None)

C:\Users\DELL\AppData\Local\Temp\ipykernel_6024\696202387.py:2: DtypeWarning: Columns (36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/flights_jantojun2020_3M.csv')

In [261]:
df

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,TAIL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,DEP_DELAY_GROUP,DEP_TIME_BLK,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,ARR_DELAY_GROUP,ARR_TIME_BLK,CANCELLED,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2020,1,1,1,3,1/1/2020,WN,5888,N951WN,ONT,"Ontario, CA",CA,California,SFO,"San Francisco, CA",CA,California,1810,1851.0,41.0,41.0,1.0,2.0,1800-1859,44.0,1935.0,2049.0,4.0,1945,2053.0,68.0,68.0,1.0,4.0,1900-1959,0,NaN,95.0,122.0,74.0,363,2,8.0,0.0,27.0,0.0,33.0
1,2020,1,1,1,3,1/1/2020,WN,6276,N467WN,ONT,"Ontario, CA",CA,California,SFO,"San Francisco, CA",CA,California,1150,1146.0,-4.0,0.0,0.0,-1.0,1100-1159,13.0,1159.0,1310.0,8.0,1320,1318.0,-2.0,0.0,0.0,-1.0,1300-1359,0,NaN,90.0,92.0,71.0,363,2,NaN,NaN,NaN,NaN,NaN
2,2020,1,1,1,3,1/1/2020,WN,4598,N7885A,ONT,"Ontario, CA",CA,California,SJC,"San Jose, CA",CA,California,2020,2016.0,-4.0,0.0,0.0,-1.0,2000-2059,8.0,2024.0,2121.0,3.0,2130,2124.0,-6.0,0.0,0.0,-1.0,2100-2159,0,NaN,70.0,68.0,57.0,333,2,NaN,NaN,NaN,NaN,NaN
3,2020,1,1,1,3,1/1/2020,WN,4761,N551WN,ONT,"Ontario, CA",CA,California,SJC,"San Jose, CA",CA,California,1340,1350.0,10.0,10.0,0.0,0.0,1300-1359,10.0,1400.0,1503.0,2.0,1455,1505.0,10.0,10.0,0.0,0.0,1400-1459,0,NaN,75.0,75.0,63.0,333,2,NaN,NaN,NaN,NaN,NaN
4,2020,1,1,1,3,1/1/2020,WN,5162,N968WN,ONT,"Ontario, CA",CA,California,SJC,"San Jose, CA",CA,California,915,916.0,1.0,1.0,0.0,0.0,0900-0959,6.0,922.0,1019.0,4.0,1035,1023.0,-12.0,0.0,0.0,-1.0,1000-1059,0,NaN,80.0,67.0,57.0,333,2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2745842,2020,2,6,13,6,6/13/2020,AS,1209,N413AS,SEA,"Seattle, WA",WA,Washington,HNL,"Honolulu, HI",HI,Hawaii,1050,1048.0,-2.0,0.0,0.0,-1.0,1000-1059,10.0,1058.0,1327.0,3.0,1405,1330.0,-35.0,0.0,0.0,-2.0,1400-1459,0,NaN,375.0,342.0,329.0,2677,11,NaN,NaN,NaN,NaN,NaN
2745843,2020,2,6,13,6,6/13/2020,AS,1216,N929VA,PHX,"Phoenix, AZ",AZ,Arizona,SEA,"Seattle, WA",WA,Washington,1530,1517.0,-13.0,0.0,0.0,-1.0,1500-1559,20.0,1537.0,1802.0,5.0,1826,1807.0,-19.0,0.0,0.0,-2.0,1800-1859,0,NaN,176.0,170.0,145.0,1107,5,NaN,NaN,NaN,NaN,NaN
2745844,2020,2,6,13,6,6/13/2020,AS,1217,N929VA,SEA,"Seattle, WA",WA,Washington,PHX,"Phoenix, AZ",AZ,Arizona,1100,1058.0,-2.0,0.0,0.0,-1.0,1100-1159,18.0,1116.0,1350.0,3.0,1405,1353.0,-12.0,0.0,0.0,-1.0,1400-1459,0,NaN,185.0,175.0,154.0,1107,5,NaN,NaN,NaN,NaN,NaN
2745845,2020,2,6,13,6,6/13/2020,AS,1223,N841VA,SNA,"Santa Ana, CA",CA,California,SEA,"Seattle, WA",WA,Washington,1510,1459.0,-11.0,0.0,0.0,-1.0,1500-1559,14.0,1513.0,1738.0,5.0,1755,1743.0,-12.0,0.0,0.0,-1.0,1700-1759,0,NaN,165.0,164.0,145.0,978,4,NaN,NaN,NaN,NaN,NaN
2745846,2020,2,6,13,6,6/13/2020,AS,1229,N413AS,HNL,"Honolulu, HI",HI,Hawaii,SEA,"Seattle, WA",WA,Washington,1520,1515.0,-5.0,0.0,0.0,-1.0,1500-1559,17.0,1532.0,2348.0,5.0,2358,2353.0,-5.0,0.0,0.0,-1.0,2300-2359,0,NaN,338.0,338.0,316.0,2677,11,NaN,NaN,NaN,NaN,NaN

In [262]:
df.shape

(2745847, 47)

In [263]:
# Function to get current date and time as a string
def get_current_datetime():
    return datetime.now().strftime("%Y-%m-%d %H:%M:%S")

# Data Preparation

## Data Statistics

In [264]:
# Check for missing values
print("Missing values per column:")
df.isnull().sum()

Missing values per column:

YEAR                         0
QUARTER                      0
MONTH                        0
DAY_OF_MONTH                 0
DAY_OF_WEEK                  0
FL_DATE                      0
MKT_UNIQUE_CARRIER           0
MKT_CARRIER_FL_NUM           0
TAIL_NUM                162927
ORIGIN                       0
ORIGIN_CITY_NAME             0
ORIGIN_STATE_ABR             0
ORIGIN_STATE_NM              0
DEST                         0
DEST_CITY_NAME               0
DEST_STATE_ABR               0
DEST_STATE_NM                0
CRS_DEP_TIME                 0
DEP_TIME                281937
DEP_DELAY               281992
DEP_DELAY_NEW           281992
DEP_DEL15               281992
DEP_DELAY_GROUP         281992
DEP_TIME_BLK                 0
TAXI_OUT                282493
WHEELS_OFF              282493
WHEELS_ON               283554
TAXI_IN                 283554
CRS_ARR_TIME                 0
ARR_TIME                283554
ARR_DELAY               287334
ARR_DELAY_NEW           287334
ARR_DEL15               287334
ARR_DELAY_GROUP         287334
ARR_TIME_BLK                 0
CANCELLED                    0
CANCELLATION_CODE      2462921
CRS_ELAPSED_TIME             2
ACTUAL_ELAPSED_TIME     287334
AIR_TIME                287334
DISTANCE                     0
DISTANCE_GROUP               0
CARRIER_DELAY          2467621
WEATHER_DELAY          2467621
NAS_DELAY              2467621
SECURITY_DELAY         2467621
LATE_AIRCRAFT_DELAY    2467621
dtype: int64

In [265]:
# Display data types
print("\nData types:")
df.dtypes

Data types:

YEAR                     int64
QUARTER                  int64
MONTH                    int64
DAY_OF_MONTH             int64
DAY_OF_WEEK              int64
FL_DATE                 object
MKT_UNIQUE_CARRIER      object
MKT_CARRIER_FL_NUM       int64
TAIL_NUM                object
ORIGIN                  object
ORIGIN_CITY_NAME        object
ORIGIN_STATE_ABR        object
ORIGIN_STATE_NM         object
DEST                    object
DEST_CITY_NAME          object
DEST_STATE_ABR          object
DEST_STATE_NM           object
CRS_DEP_TIME             int64
DEP_TIME               float64
DEP_DELAY              float64
DEP_DELAY_NEW          float64
DEP_DEL15              float64
DEP_DELAY_GROUP        float64
DEP_TIME_BLK            object
TAXI_OUT               float64
WHEELS_OFF             float64
WHEELS_ON              float64
TAXI_IN                float64
CRS_ARR_TIME             int64
ARR_TIME               float64
ARR_DELAY              float64
ARR_DELAY_NEW          float64
ARR_DEL15              float64
ARR_DELAY_GROUP        float64
ARR_TIME_BLK            object
CANCELLED                int64
CANCELLATION_CODE       object
CRS_ELAPSED_TIME       float64
ACTUAL_ELAPSED_TIME    float64
AIR_TIME               float64
DISTANCE                 int64
DISTANCE_GROUP           int64
CARRIER_DELAY          float64
WEATHER_DELAY          float64
NAS_DELAY              float64
SECURITY_DELAY         float64
LATE_AIRCRAFT_DELAY    float64
dtype: object

In [266]:
# Get summary statistics
print("\nSummary statistics:")
df.describe(include='all')

Summary statistics:

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,TAIL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,DEP_DELAY_GROUP,DEP_TIME_BLK,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,ARR_DELAY_GROUP,ARR_TIME_BLK,CANCELLED,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
count,2745847.0,2.745847e+06,2.745847e+06,2.745847e+06,2.745847e+06,2745847,2745847,2.745847e+06,2582920,2745847,2745847,2745847,2745847,2745847,2745847,2745847,2745847,2.745847e+06,2.463910e+06,2.463855e+06,2.463855e+06,2.463855e+06,2.463855e+06,2745847,2.463354e+06,2.463354e+06,2.462293e+06,2.462293e+06,2.745847e+06,2.462293e+06,2.458513e+06,2.458513e+06,2.458513e+06,2.458513e+06,2745847,2.745847e+06,282926,2.745845e+06,2.458513e+06,2.458513e+06,2.745847e+06,2.745847e+06,278226.000000,278226.000000,278226.000000,278226.000000,278226.000000
unique,NaN,NaN,NaN,NaN,NaN,182,10,NaN,6079,375,368,52,52,375,368,52,52,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,3/20/2020,AA,NaN,N494HA,ATL,"Chicago, IL",TX,Texas,ATL,"Chicago, IL",TX,Texas,NaN,NaN,NaN,NaN,NaN,NaN,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1600-1659,NaN,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,23956,735559,NaN,1106,128166,159609,287693,287693,128263,159653,287645,287645,NaN,NaN,NaN,NaN,NaN,NaN,188892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180483,NaN,246293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2020.0,1.277114e+00,2.811948e+00,1.548115e+01,3.963960e+00,NaN,NaN,2.714583e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.325110e+03,1.325076e+03,3.469542e+00,8.093630e+00,1.094963e-01,-3.725580e-01,NaN,1.603596e+01,1.349569e+03,1.470827e+03,7.007121e+00,1.490211e+03,1.476626e+03,-4.405264e+00,8.038959e+00,1.131684e-01,-7.507026e-01,NaN,1.030378e-01,NaN,1.372010e+02,1.298110e+02,1.067751e+02,7.539543e+02,3.493924e+00,24.748298,3.768045,14.474571,0.090412,21.617246
std,0.0,4.475736e-01,1.527229e+00,8.799480e+00,1.993749e+00,NaN,NaN,1.829519e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.786911e+02,4.859642e+02,3.927404e+01,3.806698e+01,3.122609e-01,1.769355e+00,NaN,8.893133e+00,4.858066e+02,5.066435e+02,5.276935e+00,5.038733e+02,5.096350e+02,4.138908e+01,3.729379e+01,3.167986e-01,1.918962e+00,NaN,3.040083e-01,NaN,6.899053e+01,6.895146e+01,6.752781e+01,5.580195e+02,2.203873e+00,74.229054,31.682242,32.595644,3.371606,52.738680
min,2020.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,-8.000000e+01,0.000000e+00,0.000000e+00,-2.000000e+00,NaN,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-1.170000e+02,0.000000e+00,0.000000e+00,-2.000000e+00,NaN,0.000000e+00,NaN,-7.700000e+01,1.300000e+01,7.000000e+00,2.900000e+01,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2020.0,1.000000e+00,2.000000e+00,8.000000e+00,2.000000e+00,NaN,NaN,1.108000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.200000e+02,9.210000e+02,-7.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,NaN,1.100000e+01,9.360000e+02,1.058000e+03,4.000000e+00,1.110000e+03,1.102000e+03,-2.000000e+01,0.000000e+00,0.000000e+00,-2.000000e+00,NaN,0.000000e+00,NaN,8.800000e+01,8.000000e+01,5.800000e+01,3.450000e+02,2.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2020.0,1.000000e+00,3.000000e+00,1.500000e+01,4.000000e+00,NaN,NaN,2.344000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.320000e+03,1.322000e+03,-4.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,NaN,1.400000e+01,1.335000e+03,1.505000e+03,6.000000e+00,1.515000e+03,1.509000e+03,-1.100000e+01,0.000000e+00,0.000000e+00,-1.000000e+00,NaN,0.000000e+00,NaN,1.200000e+02,1.130000e+02,8.900000e+01,6.050000e+02,3.000000e+00,0.000000,0.000000,2.000000,0.000000,0.000000
75%,2020.0,2.000000e+00,4.000000e+00,2.300000e+01,6.000000e+00,NaN,NaN,4.305000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.727000e+03,1.730000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,1.900000e+01,1.744000e+03,1.902000e+03,8.000000e+00,1.913000e+03,1.907000e+03,-1.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,NaN,0.000000e+00,NaN,1.680000e+02,1.600000e+02,1.360000e+02,9.940000e+02,4.000000e+00,23.000000,0.000000,19.000000,0.000000,23.000000
max,2020.0,2.000000e+00,6.000000e+00,3.100000e+01,7.000000e+00,NaN,NaN,9.888000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.359000e+03,2.400000e+03,2.814000e+03,2.814000e+03,1.000000e+00,1.200000e+01,NaN,1.890000e+02,2.400000e+03,2.400000e+03,1.940000e+02,2.400000e+03,2.400000e+03,2.794000e+03,2.794000e+03,1.000000e+00,1.200000e+01,NaN,1.000000e+00,NaN,7.000000e+02,7.630000e+02,6.980000e+02,5.095000e+03,1.100000e+01,2560.000000,1525.000000,1462.000000,1185.000000,2228.000000

## Changing Data Type

### Defined Functions
here are some functions we can use for changing the datatype

In [267]:
def to_string(df, column_name):
    """
    Convert a pandas DataFrame column to a string.
    """
    df[column_name] = df[column_name].astype('string')
    print(f"Column Name: '{column_name}', Type: {df[column_name].dtype}")
    return df

In [268]:
def to_date(df, column_name, format=None):
    """
    Convert a pandas DataFrame column to datetime.
    """
    df[column_name] = pd.to_datetime(df[column_name], format=format)
    print(f"Column Name: '{column_name}', Type: {df[column_name].dtype}")
    return df

In [269]:
def to_int(df, column_name):
    """
    Convert a pandas DataFrame column to a int.
    """
    df[column_name] = df[column_name].astype('int64')
    print(f"Column Name: '{column_name}', Type: {df[column_name].dtype}")
    return df

In [270]:
def to_float(df, column_name):
    """
    Convert a pandas DataFrame column to a float.
    """
    df[column_name] = df[column_name].astype('float64')
    print(f"Column Name: '{column_name}', Type: {df[column_name].dtype}")
    return df

# Column by Column Analysis
so here for each of the 47 columns, we will be doing a thourough analysis on each like whether we are keeping them, dropping them, if they need to be renamed, any datatype to be changed, are there any missing values, etc.

In [271]:
def show_unique_missing_dtype(df, columnName):
    print(df[columnName].value_counts())
    print("\nmissing values: ", df[columnName].isna().sum())
    print("\ndatatype: ", df[columnName].dtype)

## YEAR

In [272]:
show_unique_missing_dtype(df, 'YEAR')

YEAR
2020    2745847
Name: count, dtype: int64

missing values:  0

datatype:  int64

so every row is just filled with 2020's so it is useless. so better to drop the column as it does not give us any insight.

In [273]:
df = df.drop('YEAR', axis=1)

## QUARTER

In [274]:
show_unique_missing_dtype(df, 'QUARTER')

QUARTER
1    1984933
2     760914
Name: count, dtype: int64

missing values:  0

datatype:  int64

so this is just filled with 2 values - 1 and 2. not very effective. we can also get the QUARTER using drill down strategy using `FL_DATE` in powerBI. so better to drop.

In [275]:
df = df.drop('QUARTER', axis=1)

## MONTH

In [276]:
show_unique_missing_dtype(df, 'MONTH')

MONTH
3    701274
1    660556
2    623103
4    331238
6    237264
5    192412
Name: count, dtype: int64

missing values:  0

datatype:  int64

so there are no missing values, and the value counts seem fine. the datatype is fine too.

## DAY_OF_MONTH

In [277]:
show_unique_missing_dtype(df, 'DAY_OF_MONTH')

DAY_OF_MONTH
3     97419
6     97057
5     95971
2     95345
10    93798
13    93682
9     92722
1     92291
20    91680
17    91672
4     91591
12    91523
24    91504
27    91312
7     91263
23    90779
26    90024
16    89142
19    88608
14    88460
8     88375
21    88324
28    87555
22    87379
11    86975
15    86659
29    86234
25    85630
18    85266
30    67176
31    50431
Name: count, dtype: int64

missing values:  0

datatype:  int64

so we see that majority of flights take place on 3rd of each month and the least flights tak place on 31st. theres a very large decrease of flights on 30th and 31st. now the datatype is fine, there are no missing values, and they do give some meaning. so no need to remove column.

## DAY_OF_WEEK

In [278]:
show_unique_missing_dtype(df, 'DAY_OF_WEEK')

DAY_OF_WEEK
5    414777
4    414462
1    409181
7    394434
3    393629
2    378649
6    340715
Name: count, dtype: int64

missing values:  0

datatype:  int64

so majority of flights flew at 5:Friday and least amount of flights on 6:Saturday. not a very large difference, but there is a difference. so it does give some analysis. there are no missing values. but this is not very understandable, especially the 1-7. so lets map it to actual days, but only the first three letters to save space.

In [279]:
# define the mapping
num_to_day = {
    1: "Mon",
    2: "Tue",
    3: "Wed",
    4: "Thu",
    5: "Fri",
    6: "Sat",
    7: "Sun"
}

# replace in your DataFrame (in-place)
df['day_of_week_c'] = df['DAY_OF_WEEK'].map(num_to_day)

In [280]:
# Get list of current columns
cols = list(df.columns)

# Move 'day_of_week_c' to be right after 'DAY_OF_WEEK'
day_index = cols.index('DAY_OF_WEEK')
cols.insert(day_index + 1, cols.pop(cols.index('day_of_week_c')))

# Reorder DataFrame
df = df[cols]

change the datatype to string and recheck the unique values to verify that the mapping is done correctly

In [281]:
df = to_string(df, 'day_of_week_c')

Column Name: 'day_of_week_c', Type: string

In [282]:
show_unique_missing_dtype(df, 'day_of_week_c')

day_of_week_c
Fri    414777
Thu    414462
Mon    409181
Sun    394434
Wed    393629
Tue    378649
Sat    340715
Name: count, dtype: Int64

missing values:  0

datatype:  string

## FL_DATE

In [283]:
show_unique_missing_dtype(df, 'FL_DATE')

FL_DATE
3/20/2020    23956
3/19/2020    23936
3/13/2020    23863
3/16/2020    23832
3/12/2020    23787
             ...
5/16/2020     5371
5/9/2020      5347
5/5/2020      5288
5/19/2020     5251
5/12/2020     5232
Name: count, Length: 182, dtype: int64

missing values:  0

datatype:  object

so we see that the majority flights were on 20th March 2020. now convert the data to datatype `DATE`. no missing values.

In [284]:
# convert FL_DATE from '3/20/2020' strings to actual dates
df = to_date(df, 'FL_DATE', format='%m/%d/%Y')

Column Name: 'FL_DATE', Type: datetime64[ns]

## MKT_UNIQUE_CARRIER

In [285]:
show_unique_missing_dtype(df, 'MKT_UNIQUE_CARRIER')

MKT_UNIQUE_CARRIER
AA    735559
DL    551432
WN    531577
UA    499418
AS    145080
B6     88908
NK     65918
G4     53160
F9     47134
HA     27661
Name: count, dtype: int64

missing values:  0

datatype:  object

so we see that the `AA` carrier is most used whereas the `HA` carrier is least. no missing values. does give meaningful information. lets convert its `dtype` to `string`.

In [286]:
df = to_string(df, 'MKT_UNIQUE_CARRIER')

Column Name: 'MKT_UNIQUE_CARRIER', Type: string

lets make the name more meaningful - so this column is basically the airline that MARKETS you the ticket. the airline that flies you is the OPERATING CARRIER. so lets rename as `marketing_carrier_code`    
- Marketing Carrier (MKT_UNIQUE_CARRIER): the airline that sells or markets the flight—i.e. whose flight number appears on your ticket.
- Operating Carrier (OP_CARRIER): the airline that actually operates the flight (the plane and crew).

In [287]:
df.rename(columns={
    'MKT_UNIQUE_CARRIER': 'MARKETING_CARRIER_CODE'
}, inplace=True)

## MKT_CARRIER_FL_NUM

In [288]:
show_unique_missing_dtype(df, 'MKT_CARRIER_FL_NUM')

MKT_CARRIER_FL_NUM
1095    1462
64      1308
403     1296
478     1249
65      1225
        ...
9372       1
9373       1
9370       1
9400       1
9888       1
Name: count, Length: 7003, dtype: int64

missing values:  0

datatype:  int64

so `MKT_CARRIER_FL_NUM` is the flight number. we see that flight number `1095` is flown the most. no missing values. datatype is fine. again, lets rename to something more menaingful and understandable

In [289]:
df.rename(columns={
    'MKT_CARRIER_FL_NUM': 'MARKETING_FLIGHT_NUMBER'
}, inplace=True)

## TAIL_NUM

In [290]:
show_unique_missing_dtype(df, 'TAIL_NUM')

TAIL_NUM
N494HA    1106
N484HA    1102
N804HC    1051
N479HA    1032
N475HA    1024
          ...
N843MH       1
N785UA       1
N626AS       1
N227UA       1
N866DA       1
Name: count, Length: 6079, dtype: int64

missing values:  162927

datatype:  object

so `tail_num` is the Aircraft Tail Number. it usually starts with N. it has 160k missing values. first lets change its datatype to string.

In [291]:
df = to_string(df, 'TAIL_NUM')

Column Name: 'TAIL_NUM', Type: string

now lets move to missing values. first we need to check if all those flights were cancelled

In [292]:
# 1. Filter to only the rows where TAIL_NUM is missing
missing_tail = df[df['TAIL_NUM'].isna()]

# 2. How many of those were cancelled?
cancel_counts = missing_tail['CANCELLED'].value_counts(dropna=False)

cancel_counts

CANCELLED
1    162925
0         2
Name: count, dtype: int64

In [293]:
# Of the missing-tail flights, how many have a non-null CANCELLATION_CODE?
missing_tail['CANCELLATION_CODE'].notna().value_counts()

CANCELLATION_CODE
True     162925
False         2
Name: count, dtype: int64

oh so only 2 rows were not cancelled but majority was. so a cancelled flight will obviously not have an aircraft. so lets fill those aircraft numbers with 'CANCELLED'

In [294]:
# Mark all cancelled flights’ TAIL_NUM as “CANCELLED”
df.loc[
    (df['TAIL_NUM'].isna()) & (df['CANCELLED'] == 1),
    'TAIL_NUM'
] = 'CANCELLED'

done. lets just check it

In [295]:
show_unique_missing_dtype(df, 'TAIL_NUM')

TAIL_NUM
CANCELLED    162925
N494HA         1106
N484HA         1102
N804HC         1051
N479HA         1032
              ...
N508DN            1
N864DA            1
N562NK            1
N733AR            1
N866DA            1
Name: count, Length: 6080, dtype: Int64

missing values:  2

datatype:  string

ah so still 2 flights are left. so first lets extract them and see how they look, what other thing are missing, what they could be

In [296]:
# get the two “non-cancelled but tail‐missing” flights
problem = df[(df['TAIL_NUM'].isna())]
problem

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,day_of_week_c,FL_DATE,MARKETING_CARRIER_CODE,MARKETING_FLIGHT_NUMBER,TAIL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,DEP_DELAY_GROUP,DEP_TIME_BLK,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,ARR_DELAY_GROUP,ARR_TIME_BLK,CANCELLED,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
1353545,3,31,2,Tue,2020-03-31,G4,541,<NA>,FAR,"Fargo, ND",ND,North Dakota,AZA,"Phoenix, AZ",AZ,Arizona,1422,1422.0,0.0,0.0,0.0,0.0,1400-1459,7.0,1429.0,1621.0,6.0,1527,1627.0,NaN,NaN,NaN,NaN,1500-1559,0,NaN,185.0,NaN,NaN,1220,5,NaN,NaN,NaN,NaN,NaN
1881785,3,31,2,Tue,2020-03-31,G4,1819,<NA>,PGD,"Punta Gorda, FL",FL,Florida,IND,"Indianapolis, IN",IN,Indiana,1721,1720.0,-1.0,0.0,0.0,-1.0,1700-1759,12.0,1732.0,2030.0,5.0,1941,2035.0,NaN,NaN,NaN,NaN,1900-1959,0,NaN,140.0,NaN,NaN,916,4,NaN,NaN,NaN,NaN,NaN

so they flew on the same day = 31st march 2020 - one at 2:22pm and one at 5:21pm. both were not cancelled, just their aircraft numbers were not noted. now they are real flights and just dropping them would loose data. so lets just keep them and fill their `tail_num` with UNKNOWN.

In [297]:
df.loc[
  (df['TAIL_NUM'].isna()) & (df['CANCELLED'] == 0),
  'TAIL_NUM'
] = 'UNKNOWN'

and lets recheck

In [298]:
show_unique_missing_dtype(df, 'TAIL_NUM')

TAIL_NUM
CANCELLED    162925
N494HA         1106
N484HA         1102
N804HC         1051
N479HA         1032
              ...
N857NW            1
N733AR            1
N795UA            1
N77019            1
N864DA            1
Name: count, Length: 6081, dtype: Int64

missing values:  0

datatype:  string

lets also make its name easier to understand and interpret. so lets change its name to `aircraft_tail_number`

In [299]:
df.rename(columns={
    'TAIL_NUM': 'AIRCRAFT_TAIL_NUMBER'
}, inplace=True)

## ORIGIN

In [300]:
show_unique_missing_dtype(df, 'ORIGIN')

ORIGIN
ATL    128166
ORD    127858
DFW    112065
DEN    101678
CLT     98762
        ...
PPG        26
CDB        26
MVY        17
UIN        10
BKG         9
Name: count, Length: 375, dtype: int64

missing values:  0

datatype:  object

so this is Flight Departure 3-Letter Airport Abbreviation. no missing values. we do get insights of the most flew-out of city and least flew-out city - data is meaningful. lets just change the datatype to string.

In [301]:
df = to_string(df, 'ORIGIN')

Column Name: 'ORIGIN', Type: string

## ORIGIN_CITY_NAME

In [302]:
show_unique_missing_dtype(df, 'ORIGIN_CITY_NAME')

ORIGIN_CITY_NAME
Chicago, IL              159609
Atlanta, GA              128166
Dallas/Fort Worth, TX    112065
Denver, CO               101678
Charlotte, NC             98762
                          ...
Cold Bay, AK                 26
Pago Pago, TT                26
Martha's Vineyard, MA        17
Quincy, IL                   10
Branson, MO                   9
Name: count, Length: 368, dtype: int64

missing values:  0

datatype:  object

before looking at the values, lets make the datatype as string

In [303]:
df = to_string(df, 'ORIGIN_CITY_NAME')

Column Name: 'ORIGIN_CITY_NAME', Type: string

so thats very weird. according to the previous `origin`, we see that 
- `Atlanta, GA` corresponds to `ATL`. 
- `Dallas/Fort Worth, TX` corresponds to `DFW`. 
- `Denver, CO` for `DEN`. 
- `Charlotte, NC` for `CLT`. 
- `Cold Bay, AK` for `CDB`. 
- `Pago Pago, TT` for `PPG`. 
- `Martha's Vineyard, MA` for `MVY`. 
- `Quincy, IL` for `UIN`. 
- `Branson, MO` for `BKG`.    
 
BUT      
`Chicago, IL` doesnt correspond to any. `ORD` does not correspond to any. which is fishy - data is inconsistent.

so lets do this. lets get each unique value in `origin` and extract their rows. then lets extract all the `value_counts ()` and see if they have more than one unique value. if yes, lets see it, if not, ignore.

In [304]:
# 1. How many unique ORIGIN values?
num_origins = df['ORIGIN'].nunique()
print(f"Number of unique ORIGIN codes: {num_origins}")

# 2. Iterate over each unique ORIGIN value
unique_col1 = df['ORIGIN'].unique()
count = 0
for col1_name in unique_col1:
    rows = df[df['ORIGIN'] == col1_name]
    num_uniques = rows['ORIGIN_CITY_NAME'].nunique()
    count+=1
    if num_uniques > 1:
        print(f"Processing ORIGIN = {col1_name}")
        print(rows['ORIGIN_CITY_NAME'].value_counts())
    if count % 20 == 0:
        print("processed", count)

Number of unique ORIGIN codes: 375
processed 20
processed 40
processed 60
processed 80
processed 100
processed 120
processed 140
processed 160
processed 180
processed 200
processed 220
processed 240
processed 260
processed 280
processed 300
processed 320
processed 340
processed 360

so basically we saw that all the `ORIGIN` map to one city. now lets do this: lets just explore the one we were fishy about - `ORIGIN = ORD`

In [305]:
rows = df[df['ORIGIN'] == 'ORD']
rows['ORIGIN_CITY_NAME'].value_counts()

ORIGIN_CITY_NAME
Chicago, IL    127858
Name: count, dtype: Int64

so looks like `Chicago, IL` for `ORD` is fine. lets do the opposite now - for every `origin_city_name`, lets find its corresponding `origin` and extract all the >1 unique names.

In [306]:
# 1. How many unique ORIGIN_CITY_NAME values?
num_origins = df['ORIGIN_CITY_NAME'].nunique()
print(f"Number of unique ORIGIN_CITY_NAME codes: {num_origins}")

# 2. Iterate over each unique ORIGIN_CITY_NAME value
unique_col1 = df['ORIGIN_CITY_NAME'].unique()
count = 0
for col1_name in unique_col1:
    rows = df[df['ORIGIN_CITY_NAME'] == col1_name]
    num_uniques = rows['ORIGIN'].nunique()
    count+=1
    if num_uniques > 1:
        print(f"Processing ORIGIN_CITY_NAME = {col1_name}")
        print(rows['ORIGIN'].value_counts())
    if count % 20 == 0:
        print("----processed", count)

Number of unique ORIGIN_CITY_NAME codes: 368
Processing ORIGIN_CITY_NAME = Phoenix, AZ
ORIGIN
PHX    67069
AZA     2961
Name: count, dtype: Int64
----processed 20
----processed 40
Processing ORIGIN_CITY_NAME = Columbus, OH
ORIGIN
CMH    16072
LCK      524
Name: count, dtype: Int64
Processing ORIGIN_CITY_NAME = Washington, DC
ORIGIN
DCA    46334
IAD    31084
Name: count, dtype: Int64
----processed 60
Processing ORIGIN_CITY_NAME = Houston, TX
ORIGIN
IAH    58525
HOU    22426
Name: count, dtype: Int64
Processing ORIGIN_CITY_NAME = New York, NY
ORIGIN
LGA    46879
JFK    36344
Name: count, dtype: Int64
----processed 80
Processing ORIGIN_CITY_NAME = Chicago, IL
ORIGIN
ORD    127858
MDW     31751
Name: count, dtype: Int64
----processed 100
----processed 120
----processed 140
----processed 160
Processing ORIGIN_CITY_NAME = Mobile, AL
ORIGIN
MOB    2348
BFM      47
Name: count, dtype: Int64
----processed 180
----processed 200
----processed 220
----processed 240
----processed 260
----processed 280
----processed 300
----processed 320
----processed 340
----processed 360

so heres the tea. so after a little searching on internet (and chatGPT) multiple `origin` code does not mean data inconsistency, but it means that that city had more than one airport - as `origin` is the AIRPORT ABBREVIATION. not the CITY ABBREVIATION. so this is something to note. to make this more clearer, lets rename `origin` to something more meaningful like `origin_airport_code`

In [307]:
df.rename(columns={'ORIGIN': 'ORIGIN_AIRPORT_CODE'}, inplace=True)

lets give it a final recheck because it was altered

In [308]:
show_unique_missing_dtype(df, 'ORIGIN_AIRPORT_CODE' )

ORIGIN_AIRPORT_CODE
ATL    128166
ORD    127858
DFW    112065
DEN    101678
CLT     98762
        ...
PPG        26
CDB        26
MVY        17
UIN        10
BKG         9
Name: count, Length: 375, dtype: Int64

missing values:  0

datatype:  string

## ORIGIN_STATE_ABR

In [309]:
show_unique_missing_dtype(df, 'ORIGIN_STATE_ABR')

ORIGIN_STATE_ABR
TX    287693
CA    284941
FL    227389
IL    168105
GA    137830
NC    137163
NY    120614
CO    116040
VA    103216
WA     79706
AZ     79653
PA     79450
MI     74629
NV     69339
MN     53996
TN     51261
MO     51210
NJ     47738
MA     47560
UT     46158
OH     41282
HI     40572
MD     38523
OR     36189
KY     30419
LA     29627
IN     25301
WI     24849
SC     23906
OK     15930
AL     15140
AK     13447
NE     12379
ID     12060
AR     11808
IA     11614
MT     10894
NM     10869
PR     10706
CT     10217
ND      7961
KS      6576
RI      6279
ME      6199
SD      6127
MS      5832
WY      4312
NH      4032
VT      3541
WV      3040
VI      2012
TT       513
Name: count, dtype: int64

missing values:  0

datatype:  object

so first off, lets change the datatype to string

In [310]:
df = to_string(df, 'ORIGIN_STATE_ABR')

Column Name: 'ORIGIN_STATE_ABR', Type: string

so no missing values. this is a good thing. so this column basically tells us the Flight Departure 2-Letter State Abbreviation. So we can use this column to get the state of the flight departure. this is meaningful, we will keep it, but lets rename the column to something more meaningful like `origin_state_code`

In [311]:
df.rename(columns={
    'ORIGIN_STATE_ABR': 'ORIGIN_STATE_CODE'
}, inplace=True)

## ORIGIN_STATE_NM

In [312]:
show_unique_missing_dtype(df, 'ORIGIN_STATE_NM')

ORIGIN_STATE_NM
Texas                                             287693
California                                        284941
Florida                                           227389
Illinois                                          168105
Georgia                                           137830
North Carolina                                    137163
New York                                          120614
Colorado                                          116040
Virginia                                          103216
Washington                                         79706
Arizona                                            79653
Pennsylvania                                       79450
Michigan                                           74629
Nevada                                             69339
Minnesota                                          53996
Tennessee                                          51261
Missouri                                           51210
New Jersey                                         47738
Massachusetts                                      47560
Utah                                               46158
Ohio                                               41282
Hawaii                                             40572
Maryland                                           38523
Oregon                                             36189
Kentucky                                           30419
Louisiana                                          29627
Indiana                                            25301
Wisconsin                                          24849
South Carolina                                     23906
Oklahoma                                           15930
Alabama                                            15140
Alaska                                             13447
Nebraska                                           12379
Idaho                                              12060
Arkansas                                           11808
Iowa                                               11614
Montana                                            10894
New Mexico                                         10869
Puerto Rico                                        10706
Connecticut                                        10217
North Dakota                                        7961
Kansas                                              6576
Rhode Island                                        6279
Maine                                               6199
South Dakota                                        6127
Mississippi                                         5832
Wyoming                                             4312
New Hampshire                                       4032
Vermont                                             3541
West Virginia                                       3040
U.S. Virgin Islands                                 2012
U.S. Pacific Trust Territories and Possessions       513
Name: count, dtype: int64

missing values:  0

datatype:  object

so lets change its datatype to string

In [313]:
df = to_string(df, 'ORIGIN_STATE_NM')

Column Name: 'ORIGIN_STATE_NM', Type: string

so no missing values. this is the same as the last column however this is full name. lets check does it map 1 to 1? we need to check for any inconsistencies because last time we found the differenc in airport codes and city names.

In [314]:
column1 = 'ORIGIN_STATE_CODE'
column2 = 'ORIGIN_STATE_NM'

# 1. How many unique column1 values?
num_origins = df[column1].nunique()
print(f"Number of unique", column1, "codes: {num_origins}")

# 2. Iterate over each unique column1 value
unique_col1 = df[column1].unique()
count = 0
for col1_name in unique_col1:
    rows = df[df[column1] == col1_name]
    num_uniques = rows[column2].nunique()
    count+=1
    if num_uniques > 1:
        print(f"Processing ", column1, " = {col1_name}")
        print(rows[column2].value_counts())
    if count % 20 == 0:
        print("processed", count)

Number of unique ORIGIN_STATE_CODE codes: {num_origins}
processed 20
processed 40

In [315]:
column1 = 'ORIGIN_STATE_NM'
column2 = 'ORIGIN_STATE_CODE'

# 1. How many unique column1 values?
num_origins = df[column1].nunique()
print(f"Number of unique", column1, "codes: {num_origins}")

# 2. Iterate over each unique column1 value
unique_col1 = df[column1].unique()
count = 0
for col1_name in unique_col1:
    rows = df[df[column1] == col1_name]
    num_uniques = rows[column2].nunique()
    count+=1
    if num_uniques > 1:
        print(f"Processing ", column1, " = {col1_name}")
        print(rows[column2].value_counts())
    if count % 20 == 0:
        print("processed", count)

Number of unique ORIGIN_STATE_NM codes: {num_origins}
processed 20
processed 40

so looks like all the data is consistent and maps to the same one. This is a good thing. lets just rename the column to something more meaningful

In [316]:
df.rename(columns={
    'ORIGIN_STATE_NM': 'ORIGIN_STATE_NAME'
}, inplace=True)

## DEST

In [317]:
show_unique_missing_dtype(df, 'DEST')

DEST
ATL    128263
ORD    127904
DFW    112018
DEN    101737
CLT     98727
        ...
CDB        26
PPG        26
MVY        17
BKG         9
UIN         9
Name: count, Length: 375, dtype: int64

missing values:  0

datatype:  object

so this is again AIRPORT CODES and not CITY CODES. lets rename this to `DEST_AIRPORT_CODE`

In [318]:
df.rename(columns={
    'DEST': 'DEST_AIRPORT_CODE'
}, inplace=True)

and now lets change the datatype to string

In [319]:
df = to_string(df, 'DEST_AIRPORT_CODE')

Column Name: 'DEST_AIRPORT_CODE', Type: string

## DEST_CITY_NAME

In [320]:
show_unique_missing_dtype(df, 'DEST_CITY_NAME')

DEST_CITY_NAME
Chicago, IL              159653
Atlanta, GA              128263
Dallas/Fort Worth, TX    112018
Denver, CO               101737
Charlotte, NC             98727
                          ...
Pago Pago, TT                26
Cold Bay, AK                 26
Martha's Vineyard, MA        17
Quincy, IL                    9
Branson, MO                   9
Name: count, Length: 368, dtype: int64

missing values:  0

datatype:  object

so no missing values. the data is same as we discussed for origin, this is destination city name. so name is menaingful and changing is not needed. so lets change datatype to string

In [321]:
df = to_string(df, 'DEST_CITY_NAME')

Column Name: 'DEST_CITY_NAME', Type: string

## DEST_STATE_ABR

In [322]:
show_unique_missing_dtype(df, 'DEST_STATE_ABR')

DEST_STATE_ABR
TX    287645
CA    285003
FL    227236
IL    168148
GA    137917
NC    137123
NY    120619
CO    116071
VA    103214
WA     79713
AZ     79629
PA     79440
MI     74676
NV     69322
MN     54017
TN     51258
MO     51207
NJ     47806
MA     47589
UT     46217
OH     41279
HI     40550
MD     38502
OR     36184
KY     30420
LA     29637
IN     25281
WI     24836
SC     23906
OK     15929
AL     15147
AK     13450
NE     12381
ID     11985
AR     11824
IA     11614
MT     10879
NM     10869
PR     10680
CT     10213
ND      7957
KS      6584
RI      6280
ME      6201
SD      6134
MS      5830
WY      4307
NH      4032
VT      3543
WV      3038
VI      2013
TT       512
Name: count, dtype: int64

missing values:  0

datatype:  object

so this is fine. no missing values. lets change the datatype to string

In [323]:
df = to_string(df, 'DEST_STATE_ABR')

Column Name: 'DEST_STATE_ABR', Type: string

lets rename the column in the same way for origin so that its consistent

In [324]:
df.rename(columns={
    'DEST_STATE_ABR': 'DEST_STATE_CODE'
}, inplace=True)

## DEST_STATE_NM

In [325]:
show_unique_missing_dtype(df, 'DEST_STATE_NM')

DEST_STATE_NM
Texas                                             287645
California                                        285003
Florida                                           227236
Illinois                                          168148
Georgia                                           137917
North Carolina                                    137123
New York                                          120619
Colorado                                          116071
Virginia                                          103214
Washington                                         79713
Arizona                                            79629
Pennsylvania                                       79440
Michigan                                           74676
Nevada                                             69322
Minnesota                                          54017
Tennessee                                          51258
Missouri                                           51207
New Jersey                                         47806
Massachusetts                                      47589
Utah                                               46217
Ohio                                               41279
Hawaii                                             40550
Maryland                                           38502
Oregon                                             36184
Kentucky                                           30420
Louisiana                                          29637
Indiana                                            25281
Wisconsin                                          24836
South Carolina                                     23906
Oklahoma                                           15929
Alabama                                            15147
Alaska                                             13450
Nebraska                                           12381
Idaho                                              11985
Arkansas                                           11824
Iowa                                               11614
Montana                                            10879
New Mexico                                         10869
Puerto Rico                                        10680
Connecticut                                        10213
North Dakota                                        7957
Kansas                                              6584
Rhode Island                                        6280
Maine                                               6201
South Dakota                                        6134
Mississippi                                         5830
Wyoming                                             4307
New Hampshire                                       4032
Vermont                                             3543
West Virginia                                       3038
U.S. Virgin Islands                                 2013
U.S. Pacific Trust Territories and Possessions       512
Name: count, dtype: int64

missing values:  0

datatype:  object

so no missing values. lets change datatype and rename the same way as origin

In [326]:
df = to_string(df, 'DEST_STATE_NM')

Column Name: 'DEST_STATE_NM', Type: string

In [327]:
df.rename(columns={
    'DEST_STATE_NM': 'DEST_STATE_NAME'
}, inplace=True)

## CRS_DEP_TIME

In [328]:
show_unique_missing_dtype(df, 'CRS_DEP_TIME')

CRS_DEP_TIME
600    54560
700    48071
800    29759
900    19845
830    19290
       ...
452        1
332        1
146        1
137        1
357        1
Name: count, Length: 1310, dtype: int64

missing values:  0

datatype:  int64

so no missing values. this is the SCHEDULED DEP TIME. majority flights happen at 6am and at whole numbers like 6am, 7am, 8am etc. but this is not very interpretable, we cannot make any understanding from this. but what is more interpretable is that we get the HOURS of departure. i.e. 4:52 means 4. 1:46 means 1. etc. i want to be able to interpret what is the most hour of departure flights? same for arrival.

In [329]:
def extract_hour(df: pd.DataFrame, time_col: str, hour_col: str) -> pd.DataFrame:
    """
    Given a DataFrame and a column like 'CRS_DEP_TIME' or 'CRS_ARR_TIME' 
    in HMM or HHMM integer form, creates a new column with just the hour.

    Examples:
      3    → 0   (00:03)
      614  → 6   (06:14)
      2300 → 23  (23:00)
    """
    # ensure numeric, coerce errors to NaN
    times = pd.to_numeric(df[time_col], errors='coerce').fillna(0).astype(int)
    
    # integer-divide by 100 to get the hour bucket
    df[hour_col] = times // 100
    
    return df

so lets make a new column which extracts the times

In [330]:
df = extract_hour(df, 'CRS_DEP_TIME', 'CRS_DEP_HOUR')

In [331]:
# Get list of current columns
cols = list(df.columns)

# Move 'CRS_DEP_HOUR' to be right after 'CRS_DEP_TIME'
day_index = cols.index('CRS_DEP_TIME')
cols.insert(day_index + 1, cols.pop(cols.index('CRS_DEP_HOUR')))

# Reorder DataFrame
df = df[cols]

lets review its statistics and recheck

In [332]:
show_unique_missing_dtype(df, 'CRS_DEP_HOUR')

CRS_DEP_HOUR
7     188892
17    185129
6     184951
8     183788
11    176881
9     173659
12    172998
15    170027
10    167429
13    164308
14    163822
16    163611
18    162903
19    145134
20    128942
21     73945
5      58407
22     57798
23     15267
0       4235
1       2260
2        671
3        509
4        281
Name: count, dtype: int64

missing values:  0

datatype:  int32

after this, we can even make a DAY/NIGHT column in `DAX`. right now its not necessary. now lets rename both column names to make it more understandable.

In [333]:
df.rename(columns={
    'CRS_DEP_TIME': 'SCHEDULED_DEP_TIME',
    'CRS_DEP_HOUR': 'SCHEDULED_DEP_HOUR'
}, inplace=True)

## DEP_TIME

## DEP_DELAY

## DEP_DELAY_NEW

## DEP_DEL15

## DEP_DELAY_GROUP

## DEP_TIME_BLK

## TAXI_OUT

## WHEELS_OFF

## WHEELS_ON

## TAXI_IN

## CRS_ARR_TIME

## ARR_TIME

## ARR_DELAY

## ARR_DELAY_NEW

## ARR_DEL15

## ARR_DELAY_GROUP

## ARR_TIME_BLK

## CANCELLED

## CANCELLATION_CODE

## CRS_ELAPSED_TIME

## ACTUAL_ELAPSED_TIME

## AIR_TIME

## DISTANCE

## DISTANCE_GROUP

## CARRIER_DELAY

## WEATHER_DELAY

## NAS_DELAY

## SECURITY_DELAY

## LATE_AIRCRAFT_DELAY

# Recheck
a simple recheck of all data statistics to see if the data is fine before donwloading

In [334]:
df.shape

(2745847, 47)

In [335]:
# Check for missing values
df.isnull().sum()

MONTH                            0
DAY_OF_MONTH                     0
DAY_OF_WEEK                      0
day_of_week_c                    0
FL_DATE                          0
MARKETING_CARRIER_CODE           0
MARKETING_FLIGHT_NUMBER          0
AIRCRAFT_TAIL_NUMBER             0
ORIGIN_AIRPORT_CODE              0
ORIGIN_CITY_NAME                 0
ORIGIN_STATE_CODE                0
ORIGIN_STATE_NAME                0
DEST_AIRPORT_CODE                0
DEST_CITY_NAME                   0
DEST_STATE_CODE                  0
DEST_STATE_NAME                  0
SCHEDULED_DEP_TIME               0
SCHEDULED_DEP_HOUR               0
DEP_TIME                    281937
DEP_DELAY                   281992
DEP_DELAY_NEW               281992
DEP_DEL15                   281992
DEP_DELAY_GROUP             281992
DEP_TIME_BLK                     0
TAXI_OUT                    282493
WHEELS_OFF                  282493
WHEELS_ON                   283554
TAXI_IN                     283554
CRS_ARR_TIME                     0
ARR_TIME                    283554
ARR_DELAY                   287334
ARR_DELAY_NEW               287334
ARR_DEL15                   287334
ARR_DELAY_GROUP             287334
ARR_TIME_BLK                     0
CANCELLED                        0
CANCELLATION_CODE          2462921
CRS_ELAPSED_TIME                 2
ACTUAL_ELAPSED_TIME         287334
AIR_TIME                    287334
DISTANCE                         0
DISTANCE_GROUP                   0
CARRIER_DELAY              2467621
WEATHER_DELAY              2467621
NAS_DELAY                  2467621
SECURITY_DELAY             2467621
LATE_AIRCRAFT_DELAY        2467621
dtype: int64

In [336]:
# Display data types
df.dtypes

MONTH                               int64
DAY_OF_MONTH                        int64
DAY_OF_WEEK                         int64
day_of_week_c              string[python]
FL_DATE                    datetime64[ns]
MARKETING_CARRIER_CODE     string[python]
MARKETING_FLIGHT_NUMBER             int64
AIRCRAFT_TAIL_NUMBER       string[python]
ORIGIN_AIRPORT_CODE        string[python]
ORIGIN_CITY_NAME           string[python]
ORIGIN_STATE_CODE          string[python]
ORIGIN_STATE_NAME          string[python]
DEST_AIRPORT_CODE          string[python]
DEST_CITY_NAME             string[python]
DEST_STATE_CODE            string[python]
DEST_STATE_NAME            string[python]
SCHEDULED_DEP_TIME                  int64
SCHEDULED_DEP_HOUR                  int32
DEP_TIME                          float64
DEP_DELAY                         float64
DEP_DELAY_NEW                     float64
DEP_DEL15                         float64
DEP_DELAY_GROUP                   float64
DEP_TIME_BLK                       object
TAXI_OUT                          float64
WHEELS_OFF                        float64
WHEELS_ON                         float64
TAXI_IN                           float64
CRS_ARR_TIME                        int64
ARR_TIME                          float64
ARR_DELAY                         float64
ARR_DELAY_NEW                     float64
ARR_DEL15                         float64
ARR_DELAY_GROUP                   float64
ARR_TIME_BLK                       object
CANCELLED                           int64
CANCELLATION_CODE                  object
CRS_ELAPSED_TIME                  float64
ACTUAL_ELAPSED_TIME               float64
AIR_TIME                          float64
DISTANCE                            int64
DISTANCE_GROUP                      int64
CARRIER_DELAY                     float64
WEATHER_DELAY                     float64
NAS_DELAY                         float64
SECURITY_DELAY                    float64
LATE_AIRCRAFT_DELAY               float64
dtype: object

In [337]:
df

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,day_of_week_c,FL_DATE,MARKETING_CARRIER_CODE,MARKETING_FLIGHT_NUMBER,AIRCRAFT_TAIL_NUMBER,ORIGIN_AIRPORT_CODE,ORIGIN_CITY_NAME,ORIGIN_STATE_CODE,ORIGIN_STATE_NAME,DEST_AIRPORT_CODE,DEST_CITY_NAME,DEST_STATE_CODE,DEST_STATE_NAME,SCHEDULED_DEP_TIME,SCHEDULED_DEP_HOUR,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,DEP_DELAY_GROUP,DEP_TIME_BLK,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,ARR_DELAY_GROUP,ARR_TIME_BLK,CANCELLED,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,1,1,3,Wed,2020-01-01,WN,5888,N951WN,ONT,"Ontario, CA",CA,California,SFO,"San Francisco, CA",CA,California,1810,18,1851.0,41.0,41.0,1.0,2.0,1800-1859,44.0,1935.0,2049.0,4.0,1945,2053.0,68.0,68.0,1.0,4.0,1900-1959,0,NaN,95.0,122.0,74.0,363,2,8.0,0.0,27.0,0.0,33.0
1,1,1,3,Wed,2020-01-01,WN,6276,N467WN,ONT,"Ontario, CA",CA,California,SFO,"San Francisco, CA",CA,California,1150,11,1146.0,-4.0,0.0,0.0,-1.0,1100-1159,13.0,1159.0,1310.0,8.0,1320,1318.0,-2.0,0.0,0.0,-1.0,1300-1359,0,NaN,90.0,92.0,71.0,363,2,NaN,NaN,NaN,NaN,NaN
2,1,1,3,Wed,2020-01-01,WN,4598,N7885A,ONT,"Ontario, CA",CA,California,SJC,"San Jose, CA",CA,California,2020,20,2016.0,-4.0,0.0,0.0,-1.0,2000-2059,8.0,2024.0,2121.0,3.0,2130,2124.0,-6.0,0.0,0.0,-1.0,2100-2159,0,NaN,70.0,68.0,57.0,333,2,NaN,NaN,NaN,NaN,NaN
3,1,1,3,Wed,2020-01-01,WN,4761,N551WN,ONT,"Ontario, CA",CA,California,SJC,"San Jose, CA",CA,California,1340,13,1350.0,10.0,10.0,0.0,0.0,1300-1359,10.0,1400.0,1503.0,2.0,1455,1505.0,10.0,10.0,0.0,0.0,1400-1459,0,NaN,75.0,75.0,63.0,333,2,NaN,NaN,NaN,NaN,NaN
4,1,1,3,Wed,2020-01-01,WN,5162,N968WN,ONT,"Ontario, CA",CA,California,SJC,"San Jose, CA",CA,California,915,9,916.0,1.0,1.0,0.0,0.0,0900-0959,6.0,922.0,1019.0,4.0,1035,1023.0,-12.0,0.0,0.0,-1.0,1000-1059,0,NaN,80.0,67.0,57.0,333,2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2745842,6,13,6,Sat,2020-06-13,AS,1209,N413AS,SEA,"Seattle, WA",WA,Washington,HNL,"Honolulu, HI",HI,Hawaii,1050,10,1048.0,-2.0,0.0,0.0,-1.0,1000-1059,10.0,1058.0,1327.0,3.0,1405,1330.0,-35.0,0.0,0.0,-2.0,1400-1459,0,NaN,375.0,342.0,329.0,2677,11,NaN,NaN,NaN,NaN,NaN
2745843,6,13,6,Sat,2020-06-13,AS,1216,N929VA,PHX,"Phoenix, AZ",AZ,Arizona,SEA,"Seattle, WA",WA,Washington,1530,15,1517.0,-13.0,0.0,0.0,-1.0,1500-1559,20.0,1537.0,1802.0,5.0,1826,1807.0,-19.0,0.0,0.0,-2.0,1800-1859,0,NaN,176.0,170.0,145.0,1107,5,NaN,NaN,NaN,NaN,NaN
2745844,6,13,6,Sat,2020-06-13,AS,1217,N929VA,SEA,"Seattle, WA",WA,Washington,PHX,"Phoenix, AZ",AZ,Arizona,1100,11,1058.0,-2.0,0.0,0.0,-1.0,1100-1159,18.0,1116.0,1350.0,3.0,1405,1353.0,-12.0,0.0,0.0,-1.0,1400-1459,0,NaN,185.0,175.0,154.0,1107,5,NaN,NaN,NaN,NaN,NaN
2745845,6,13,6,Sat,2020-06-13,AS,1223,N841VA,SNA,"Santa Ana, CA",CA,California,SEA,"Seattle, WA",WA,Washington,1510,15,1459.0,-11.0,0.0,0.0,-1.0,1500-1559,14.0,1513.0,1738.0,5.0,1755,1743.0,-12.0,0.0,0.0,-1.0,1700-1759,0,NaN,165.0,164.0,145.0,978,4,NaN,NaN,NaN,NaN,NaN
2745846,6,13,6,Sat,2020-06-13,AS,1229,N413AS,HNL,"Honolulu, HI",HI,Hawaii,SEA,"Seattle, WA",WA,Washington,1520,15,1515.0,-5.0,0.0,0.0,-1.0,1500-1559,17.0,1532.0,2348.0,5.0,2358,2353.0,-5.0,0.0,0.0,-1.0,2300-2359,0,NaN,338.0,338.0,316.0,2677,11,NaN,NaN,NaN,NaN,NaN

# Download cleaned dataset

In [338]:
# Save the cleaned DataFrame to a CSV file
# df.to_csv('../data/flights_jantojun2020_3M_cleaned.csv', index=False)

In [339]:
# Extract first 1000 rows
df_1000 = df.head(1000)

# Save to CSV with column headers
df_1000.to_csv('../data/flights_jantojun2020_1K_cleaned.csv', index=False)

In [340]:
# revert pandas settings back to normal
# pd.reset_option('display.max_columns')

# Last run

In [341]:
get_current_datetime()

'2025-05-30 13:44:22'

In [342]:
# Capture end time
end_time = datetime.now()

# Compute time difference
diff = end_time - start_time

# Total seconds (float)
total_seconds = diff.total_seconds()

# Decompose
hours, rem = divmod(total_seconds, 3600)
minutes, rem = divmod(rem, 60)
seconds = int(rem)
milliseconds = diff.microseconds // 1000

# Display
print(f"Start time : {start_time.strftime('%Y-%m-%d %H:%M:%S.%f')}")
print(f"End time   : {end_time.strftime('%Y-%m-%d %H:%M:%S.%f')}")
print(f"Duration   : {int(hours)}h {int(minutes)}m {seconds}s {milliseconds}ms")

Start time : 2025-05-30 13:40:32.003100
End time   : 2025-05-30 13:44:22.855537
Duration   : 0h 3m 50s 852ms