Business Intelligence Project    
Name: Zehra Ahmed, Farah Inayat, Kisa Fatima, Zuha Aqib    
Date: 18-May-2025

In [48]:
# print when the last code was run
from datetime import datetime
datetime.now().strftime("%Y-%m-%d %H:%M:%S")

'2025-05-29 23:10:45'

In [49]:
# Capture start time
start_time = datetime.now()

# Imports

In [50]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime, timedelta

### Some Functions
some preliminary functions we can use in the code

# Data Loading

In [51]:
# Load the dataset
df = pd.read_csv('../data/flights_jantojun2020_3M.csv')

pd.set_option('display.max_columns', None)

C:\Users\DELL\AppData\Local\Temp\ipykernel_200\696202387.py:2: DtypeWarning: Columns (36) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/flights_jantojun2020_3M.csv')

In [52]:
df

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,TAIL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,DEP_DELAY_GROUP,DEP_TIME_BLK,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,ARR_DELAY_GROUP,ARR_TIME_BLK,CANCELLED,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2020,1,1,1,3,1/1/2020,WN,5888,N951WN,ONT,"Ontario, CA",CA,California,SFO,"San Francisco, CA",CA,California,1810,1851.0,41.0,41.0,1.0,2.0,1800-1859,44.0,1935.0,2049.0,4.0,1945,2053.0,68.0,68.0,1.0,4.0,1900-1959,0,NaN,95.0,122.0,74.0,363,2,8.0,0.0,27.0,0.0,33.0
1,2020,1,1,1,3,1/1/2020,WN,6276,N467WN,ONT,"Ontario, CA",CA,California,SFO,"San Francisco, CA",CA,California,1150,1146.0,-4.0,0.0,0.0,-1.0,1100-1159,13.0,1159.0,1310.0,8.0,1320,1318.0,-2.0,0.0,0.0,-1.0,1300-1359,0,NaN,90.0,92.0,71.0,363,2,NaN,NaN,NaN,NaN,NaN
2,2020,1,1,1,3,1/1/2020,WN,4598,N7885A,ONT,"Ontario, CA",CA,California,SJC,"San Jose, CA",CA,California,2020,2016.0,-4.0,0.0,0.0,-1.0,2000-2059,8.0,2024.0,2121.0,3.0,2130,2124.0,-6.0,0.0,0.0,-1.0,2100-2159,0,NaN,70.0,68.0,57.0,333,2,NaN,NaN,NaN,NaN,NaN
3,2020,1,1,1,3,1/1/2020,WN,4761,N551WN,ONT,"Ontario, CA",CA,California,SJC,"San Jose, CA",CA,California,1340,1350.0,10.0,10.0,0.0,0.0,1300-1359,10.0,1400.0,1503.0,2.0,1455,1505.0,10.0,10.0,0.0,0.0,1400-1459,0,NaN,75.0,75.0,63.0,333,2,NaN,NaN,NaN,NaN,NaN
4,2020,1,1,1,3,1/1/2020,WN,5162,N968WN,ONT,"Ontario, CA",CA,California,SJC,"San Jose, CA",CA,California,915,916.0,1.0,1.0,0.0,0.0,0900-0959,6.0,922.0,1019.0,4.0,1035,1023.0,-12.0,0.0,0.0,-1.0,1000-1059,0,NaN,80.0,67.0,57.0,333,2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2745842,2020,2,6,13,6,6/13/2020,AS,1209,N413AS,SEA,"Seattle, WA",WA,Washington,HNL,"Honolulu, HI",HI,Hawaii,1050,1048.0,-2.0,0.0,0.0,-1.0,1000-1059,10.0,1058.0,1327.0,3.0,1405,1330.0,-35.0,0.0,0.0,-2.0,1400-1459,0,NaN,375.0,342.0,329.0,2677,11,NaN,NaN,NaN,NaN,NaN
2745843,2020,2,6,13,6,6/13/2020,AS,1216,N929VA,PHX,"Phoenix, AZ",AZ,Arizona,SEA,"Seattle, WA",WA,Washington,1530,1517.0,-13.0,0.0,0.0,-1.0,1500-1559,20.0,1537.0,1802.0,5.0,1826,1807.0,-19.0,0.0,0.0,-2.0,1800-1859,0,NaN,176.0,170.0,145.0,1107,5,NaN,NaN,NaN,NaN,NaN
2745844,2020,2,6,13,6,6/13/2020,AS,1217,N929VA,SEA,"Seattle, WA",WA,Washington,PHX,"Phoenix, AZ",AZ,Arizona,1100,1058.0,-2.0,0.0,0.0,-1.0,1100-1159,18.0,1116.0,1350.0,3.0,1405,1353.0,-12.0,0.0,0.0,-1.0,1400-1459,0,NaN,185.0,175.0,154.0,1107,5,NaN,NaN,NaN,NaN,NaN
2745845,2020,2,6,13,6,6/13/2020,AS,1223,N841VA,SNA,"Santa Ana, CA",CA,California,SEA,"Seattle, WA",WA,Washington,1510,1459.0,-11.0,0.0,0.0,-1.0,1500-1559,14.0,1513.0,1738.0,5.0,1755,1743.0,-12.0,0.0,0.0,-1.0,1700-1759,0,NaN,165.0,164.0,145.0,978,4,NaN,NaN,NaN,NaN,NaN
2745846,2020,2,6,13,6,6/13/2020,AS,1229,N413AS,HNL,"Honolulu, HI",HI,Hawaii,SEA,"Seattle, WA",WA,Washington,1520,1515.0,-5.0,0.0,0.0,-1.0,1500-1559,17.0,1532.0,2348.0,5.0,2358,2353.0,-5.0,0.0,0.0,-1.0,2300-2359,0,NaN,338.0,338.0,316.0,2677,11,NaN,NaN,NaN,NaN,NaN

In [53]:
df.shape

(2745847, 47)

In [54]:
# Function to get current date and time as a string
def get_current_datetime():
    return datetime.now().strftime("%Y-%m-%d %H:%M:%S")

# Data Preparation

## Data Statistics

In [55]:
# Check for missing values
print("Missing values per column:")
df.isnull().sum()

Missing values per column:

YEAR                         0
QUARTER                      0
MONTH                        0
DAY_OF_MONTH                 0
DAY_OF_WEEK                  0
FL_DATE                      0
MKT_UNIQUE_CARRIER           0
MKT_CARRIER_FL_NUM           0
TAIL_NUM                162927
ORIGIN                       0
ORIGIN_CITY_NAME             0
ORIGIN_STATE_ABR             0
ORIGIN_STATE_NM              0
DEST                         0
DEST_CITY_NAME               0
DEST_STATE_ABR               0
DEST_STATE_NM                0
CRS_DEP_TIME                 0
DEP_TIME                281937
DEP_DELAY               281992
DEP_DELAY_NEW           281992
DEP_DEL15               281992
DEP_DELAY_GROUP         281992
DEP_TIME_BLK                 0
TAXI_OUT                282493
WHEELS_OFF              282493
WHEELS_ON               283554
TAXI_IN                 283554
CRS_ARR_TIME                 0
ARR_TIME                283554
ARR_DELAY               287334
ARR_DELAY_NEW           287334
ARR_DEL15               287334
ARR_DELAY_GROUP         287334
ARR_TIME_BLK                 0
CANCELLED                    0
CANCELLATION_CODE      2462921
CRS_ELAPSED_TIME             2
ACTUAL_ELAPSED_TIME     287334
AIR_TIME                287334
DISTANCE                     0
DISTANCE_GROUP               0
CARRIER_DELAY          2467621
WEATHER_DELAY          2467621
NAS_DELAY              2467621
SECURITY_DELAY         2467621
LATE_AIRCRAFT_DELAY    2467621
dtype: int64

In [56]:
# Display data types
print("\nData types:")
df.dtypes

Data types:

YEAR                     int64
QUARTER                  int64
MONTH                    int64
DAY_OF_MONTH             int64
DAY_OF_WEEK              int64
FL_DATE                 object
MKT_UNIQUE_CARRIER      object
MKT_CARRIER_FL_NUM       int64
TAIL_NUM                object
ORIGIN                  object
ORIGIN_CITY_NAME        object
ORIGIN_STATE_ABR        object
ORIGIN_STATE_NM         object
DEST                    object
DEST_CITY_NAME          object
DEST_STATE_ABR          object
DEST_STATE_NM           object
CRS_DEP_TIME             int64
DEP_TIME               float64
DEP_DELAY              float64
DEP_DELAY_NEW          float64
DEP_DEL15              float64
DEP_DELAY_GROUP        float64
DEP_TIME_BLK            object
TAXI_OUT               float64
WHEELS_OFF             float64
WHEELS_ON              float64
TAXI_IN                float64
CRS_ARR_TIME             int64
ARR_TIME               float64
ARR_DELAY              float64
ARR_DELAY_NEW          float64
ARR_DEL15              float64
ARR_DELAY_GROUP        float64
ARR_TIME_BLK            object
CANCELLED                int64
CANCELLATION_CODE       object
CRS_ELAPSED_TIME       float64
ACTUAL_ELAPSED_TIME    float64
AIR_TIME               float64
DISTANCE                 int64
DISTANCE_GROUP           int64
CARRIER_DELAY          float64
WEATHER_DELAY          float64
NAS_DELAY              float64
SECURITY_DELAY         float64
LATE_AIRCRAFT_DELAY    float64
dtype: object

In [57]:
# Get summary statistics
print("\nSummary statistics:")
df.describe(include='all')

Summary statistics:

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,TAIL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,DEP_DELAY_GROUP,DEP_TIME_BLK,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,ARR_DELAY_GROUP,ARR_TIME_BLK,CANCELLED,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
count,2745847.0,2.745847e+06,2.745847e+06,2.745847e+06,2.745847e+06,2745847,2745847,2.745847e+06,2582920,2745847,2745847,2745847,2745847,2745847,2745847,2745847,2745847,2.745847e+06,2.463910e+06,2.463855e+06,2.463855e+06,2.463855e+06,2.463855e+06,2745847,2.463354e+06,2.463354e+06,2.462293e+06,2.462293e+06,2.745847e+06,2.462293e+06,2.458513e+06,2.458513e+06,2.458513e+06,2.458513e+06,2745847,2.745847e+06,282926,2.745845e+06,2.458513e+06,2.458513e+06,2.745847e+06,2.745847e+06,278226.000000,278226.000000,278226.000000,278226.000000,278226.000000
unique,NaN,NaN,NaN,NaN,NaN,182,10,NaN,6079,375,368,52,52,375,368,52,52,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,3/20/2020,AA,NaN,N494HA,ATL,"Chicago, IL",TX,Texas,ATL,"Chicago, IL",TX,Texas,NaN,NaN,NaN,NaN,NaN,NaN,0700-0759,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1600-1659,NaN,D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,23956,735559,NaN,1106,128166,159609,287693,287693,128263,159653,287645,287645,NaN,NaN,NaN,NaN,NaN,NaN,188892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,180483,NaN,246293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2020.0,1.277114e+00,2.811948e+00,1.548115e+01,3.963960e+00,NaN,NaN,2.714583e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.325110e+03,1.325076e+03,3.469542e+00,8.093630e+00,1.094963e-01,-3.725580e-01,NaN,1.603596e+01,1.349569e+03,1.470827e+03,7.007121e+00,1.490211e+03,1.476626e+03,-4.405264e+00,8.038959e+00,1.131684e-01,-7.507026e-01,NaN,1.030378e-01,NaN,1.372010e+02,1.298110e+02,1.067751e+02,7.539543e+02,3.493924e+00,24.748298,3.768045,14.474571,0.090412,21.617246
std,0.0,4.475736e-01,1.527229e+00,8.799480e+00,1.993749e+00,NaN,NaN,1.829519e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.786911e+02,4.859642e+02,3.927404e+01,3.806698e+01,3.122609e-01,1.769355e+00,NaN,8.893133e+00,4.858066e+02,5.066435e+02,5.276935e+00,5.038733e+02,5.096350e+02,4.138908e+01,3.729379e+01,3.167986e-01,1.918962e+00,NaN,3.040083e-01,NaN,6.899053e+01,6.895146e+01,6.752781e+01,5.580195e+02,2.203873e+00,74.229054,31.682242,32.595644,3.371606,52.738680
min,2020.0,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN,NaN,1.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000e+00,1.000000e+00,-8.000000e+01,0.000000e+00,0.000000e+00,-2.000000e+00,NaN,0.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,-1.170000e+02,0.000000e+00,0.000000e+00,-2.000000e+00,NaN,0.000000e+00,NaN,-7.700000e+01,1.300000e+01,7.000000e+00,2.900000e+01,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2020.0,1.000000e+00,2.000000e+00,8.000000e+00,2.000000e+00,NaN,NaN,1.108000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.200000e+02,9.210000e+02,-7.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,NaN,1.100000e+01,9.360000e+02,1.058000e+03,4.000000e+00,1.110000e+03,1.102000e+03,-2.000000e+01,0.000000e+00,0.000000e+00,-2.000000e+00,NaN,0.000000e+00,NaN,8.800000e+01,8.000000e+01,5.800000e+01,3.450000e+02,2.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2020.0,1.000000e+00,3.000000e+00,1.500000e+01,4.000000e+00,NaN,NaN,2.344000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.320000e+03,1.322000e+03,-4.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,NaN,1.400000e+01,1.335000e+03,1.505000e+03,6.000000e+00,1.515000e+03,1.509000e+03,-1.100000e+01,0.000000e+00,0.000000e+00,-1.000000e+00,NaN,0.000000e+00,NaN,1.200000e+02,1.130000e+02,8.900000e+01,6.050000e+02,3.000000e+00,0.000000,0.000000,2.000000,0.000000,0.000000
75%,2020.0,2.000000e+00,4.000000e+00,2.300000e+01,6.000000e+00,NaN,NaN,4.305000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.727000e+03,1.730000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,NaN,1.900000e+01,1.744000e+03,1.902000e+03,8.000000e+00,1.913000e+03,1.907000e+03,-1.000000e+00,0.000000e+00,0.000000e+00,-1.000000e+00,NaN,0.000000e+00,NaN,1.680000e+02,1.600000e+02,1.360000e+02,9.940000e+02,4.000000e+00,23.000000,0.000000,19.000000,0.000000,23.000000
max,2020.0,2.000000e+00,6.000000e+00,3.100000e+01,7.000000e+00,NaN,NaN,9.888000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.359000e+03,2.400000e+03,2.814000e+03,2.814000e+03,1.000000e+00,1.200000e+01,NaN,1.890000e+02,2.400000e+03,2.400000e+03,1.940000e+02,2.400000e+03,2.400000e+03,2.794000e+03,2.794000e+03,1.000000e+00,1.200000e+01,NaN,1.000000e+00,NaN,7.000000e+02,7.630000e+02,6.980000e+02,5.095000e+03,1.100000e+01,2560.000000,1525.000000,1462.000000,1185.000000,2228.000000

## Changing Data Type

### Defined Functions
here are some functions we can use for changing the datatype

In [58]:
def to_string(df, column_name):
    """
    Convert a pandas DataFrame column to a string.
    """
    df[column_name] = df[column_name].astype('string')
    print(f"Column Name: '{column_name}', Type: {df[column_name].dtype}")
    return df

In [59]:
def to_date(df, column_name, format=None):
    """
    Convert a pandas DataFrame column to datetime.
    """
    df[column_name] = pd.to_datetime(df[column_name], format=format)
    print(f"Column Name: '{column_name}', Type: {df[column_name].dtype}")
    return df

In [60]:
def to_int(df, column_name):
    """
    Convert a pandas DataFrame column to a int.
    """
    df[column_name] = df[column_name].astype('int64')
    print(f"Column Name: '{column_name}', Type: {df[column_name].dtype}")
    return df

In [61]:
def to_float(df, column_name):
    """
    Convert a pandas DataFrame column to a float.
    """
    df[column_name] = df[column_name].astype('float64')
    print(f"Column Name: '{column_name}', Type: {df[column_name].dtype}")
    return df

### Implementation
so there is a date column lets make it a type date column, and there is a few columns which are object datatype, lets change to string for better readability

# Recheck
a simple recheck of all data statistics to see if the data is fine before donwloading

In [62]:
df.shape

(2745847, 47)

In [63]:
# Check for missing values
df.isnull().sum()

YEAR                         0
QUARTER                      0
MONTH                        0
DAY_OF_MONTH                 0
DAY_OF_WEEK                  0
FL_DATE                      0
MKT_UNIQUE_CARRIER           0
MKT_CARRIER_FL_NUM           0
TAIL_NUM                162927
ORIGIN                       0
ORIGIN_CITY_NAME             0
ORIGIN_STATE_ABR             0
ORIGIN_STATE_NM              0
DEST                         0
DEST_CITY_NAME               0
DEST_STATE_ABR               0
DEST_STATE_NM                0
CRS_DEP_TIME                 0
DEP_TIME                281937
DEP_DELAY               281992
DEP_DELAY_NEW           281992
DEP_DEL15               281992
DEP_DELAY_GROUP         281992
DEP_TIME_BLK                 0
TAXI_OUT                282493
WHEELS_OFF              282493
WHEELS_ON               283554
TAXI_IN                 283554
CRS_ARR_TIME                 0
ARR_TIME                283554
ARR_DELAY               287334
ARR_DELAY_NEW           287334
ARR_DEL15               287334
ARR_DELAY_GROUP         287334
ARR_TIME_BLK                 0
CANCELLED                    0
CANCELLATION_CODE      2462921
CRS_ELAPSED_TIME             2
ACTUAL_ELAPSED_TIME     287334
AIR_TIME                287334
DISTANCE                     0
DISTANCE_GROUP               0
CARRIER_DELAY          2467621
WEATHER_DELAY          2467621
NAS_DELAY              2467621
SECURITY_DELAY         2467621
LATE_AIRCRAFT_DELAY    2467621
dtype: int64

In [64]:
# Display data types
df.dtypes

YEAR                     int64
QUARTER                  int64
MONTH                    int64
DAY_OF_MONTH             int64
DAY_OF_WEEK              int64
FL_DATE                 object
MKT_UNIQUE_CARRIER      object
MKT_CARRIER_FL_NUM       int64
TAIL_NUM                object
ORIGIN                  object
ORIGIN_CITY_NAME        object
ORIGIN_STATE_ABR        object
ORIGIN_STATE_NM         object
DEST                    object
DEST_CITY_NAME          object
DEST_STATE_ABR          object
DEST_STATE_NM           object
CRS_DEP_TIME             int64
DEP_TIME               float64
DEP_DELAY              float64
DEP_DELAY_NEW          float64
DEP_DEL15              float64
DEP_DELAY_GROUP        float64
DEP_TIME_BLK            object
TAXI_OUT               float64
WHEELS_OFF             float64
WHEELS_ON              float64
TAXI_IN                float64
CRS_ARR_TIME             int64
ARR_TIME               float64
ARR_DELAY              float64
ARR_DELAY_NEW          float64
ARR_DEL15              float64
ARR_DELAY_GROUP        float64
ARR_TIME_BLK            object
CANCELLED                int64
CANCELLATION_CODE       object
CRS_ELAPSED_TIME       float64
ACTUAL_ELAPSED_TIME    float64
AIR_TIME               float64
DISTANCE                 int64
DISTANCE_GROUP           int64
CARRIER_DELAY          float64
WEATHER_DELAY          float64
NAS_DELAY              float64
SECURITY_DELAY         float64
LATE_AIRCRAFT_DELAY    float64
dtype: object

In [65]:
df

,YEAR,QUARTER,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,FL_DATE,MKT_UNIQUE_CARRIER,MKT_CARRIER_FL_NUM,TAIL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_NM,CRS_DEP_TIME,DEP_TIME,DEP_DELAY,DEP_DELAY_NEW,DEP_DEL15,DEP_DELAY_GROUP,DEP_TIME_BLK,TAXI_OUT,WHEELS_OFF,WHEELS_ON,TAXI_IN,CRS_ARR_TIME,ARR_TIME,ARR_DELAY,ARR_DELAY_NEW,ARR_DEL15,ARR_DELAY_GROUP,ARR_TIME_BLK,CANCELLED,CANCELLATION_CODE,CRS_ELAPSED_TIME,ACTUAL_ELAPSED_TIME,AIR_TIME,DISTANCE,DISTANCE_GROUP,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY
0,2020,1,1,1,3,1/1/2020,WN,5888,N951WN,ONT,"Ontario, CA",CA,California,SFO,"San Francisco, CA",CA,California,1810,1851.0,41.0,41.0,1.0,2.0,1800-1859,44.0,1935.0,2049.0,4.0,1945,2053.0,68.0,68.0,1.0,4.0,1900-1959,0,NaN,95.0,122.0,74.0,363,2,8.0,0.0,27.0,0.0,33.0
1,2020,1,1,1,3,1/1/2020,WN,6276,N467WN,ONT,"Ontario, CA",CA,California,SFO,"San Francisco, CA",CA,California,1150,1146.0,-4.0,0.0,0.0,-1.0,1100-1159,13.0,1159.0,1310.0,8.0,1320,1318.0,-2.0,0.0,0.0,-1.0,1300-1359,0,NaN,90.0,92.0,71.0,363,2,NaN,NaN,NaN,NaN,NaN
2,2020,1,1,1,3,1/1/2020,WN,4598,N7885A,ONT,"Ontario, CA",CA,California,SJC,"San Jose, CA",CA,California,2020,2016.0,-4.0,0.0,0.0,-1.0,2000-2059,8.0,2024.0,2121.0,3.0,2130,2124.0,-6.0,0.0,0.0,-1.0,2100-2159,0,NaN,70.0,68.0,57.0,333,2,NaN,NaN,NaN,NaN,NaN
3,2020,1,1,1,3,1/1/2020,WN,4761,N551WN,ONT,"Ontario, CA",CA,California,SJC,"San Jose, CA",CA,California,1340,1350.0,10.0,10.0,0.0,0.0,1300-1359,10.0,1400.0,1503.0,2.0,1455,1505.0,10.0,10.0,0.0,0.0,1400-1459,0,NaN,75.0,75.0,63.0,333,2,NaN,NaN,NaN,NaN,NaN
4,2020,1,1,1,3,1/1/2020,WN,5162,N968WN,ONT,"Ontario, CA",CA,California,SJC,"San Jose, CA",CA,California,915,916.0,1.0,1.0,0.0,0.0,0900-0959,6.0,922.0,1019.0,4.0,1035,1023.0,-12.0,0.0,0.0,-1.0,1000-1059,0,NaN,80.0,67.0,57.0,333,2,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2745842,2020,2,6,13,6,6/13/2020,AS,1209,N413AS,SEA,"Seattle, WA",WA,Washington,HNL,"Honolulu, HI",HI,Hawaii,1050,1048.0,-2.0,0.0,0.0,-1.0,1000-1059,10.0,1058.0,1327.0,3.0,1405,1330.0,-35.0,0.0,0.0,-2.0,1400-1459,0,NaN,375.0,342.0,329.0,2677,11,NaN,NaN,NaN,NaN,NaN
2745843,2020,2,6,13,6,6/13/2020,AS,1216,N929VA,PHX,"Phoenix, AZ",AZ,Arizona,SEA,"Seattle, WA",WA,Washington,1530,1517.0,-13.0,0.0,0.0,-1.0,1500-1559,20.0,1537.0,1802.0,5.0,1826,1807.0,-19.0,0.0,0.0,-2.0,1800-1859,0,NaN,176.0,170.0,145.0,1107,5,NaN,NaN,NaN,NaN,NaN
2745844,2020,2,6,13,6,6/13/2020,AS,1217,N929VA,SEA,"Seattle, WA",WA,Washington,PHX,"Phoenix, AZ",AZ,Arizona,1100,1058.0,-2.0,0.0,0.0,-1.0,1100-1159,18.0,1116.0,1350.0,3.0,1405,1353.0,-12.0,0.0,0.0,-1.0,1400-1459,0,NaN,185.0,175.0,154.0,1107,5,NaN,NaN,NaN,NaN,NaN
2745845,2020,2,6,13,6,6/13/2020,AS,1223,N841VA,SNA,"Santa Ana, CA",CA,California,SEA,"Seattle, WA",WA,Washington,1510,1459.0,-11.0,0.0,0.0,-1.0,1500-1559,14.0,1513.0,1738.0,5.0,1755,1743.0,-12.0,0.0,0.0,-1.0,1700-1759,0,NaN,165.0,164.0,145.0,978,4,NaN,NaN,NaN,NaN,NaN
2745846,2020,2,6,13,6,6/13/2020,AS,1229,N413AS,HNL,"Honolulu, HI",HI,Hawaii,SEA,"Seattle, WA",WA,Washington,1520,1515.0,-5.0,0.0,0.0,-1.0,1500-1559,17.0,1532.0,2348.0,5.0,2358,2353.0,-5.0,0.0,0.0,-1.0,2300-2359,0,NaN,338.0,338.0,316.0,2677,11,NaN,NaN,NaN,NaN,NaN

# Download cleaned dataset

In [66]:
# Save the cleaned DataFrame to a CSV file
df.to_csv('../data/flights_jantojun2020_3M_cleaned.csv', index=False)

In [67]:
# Extract first 1000 rows
df_1000 = df.head(1000)

# Save to CSV with column headers
df_1000.to_csv('../data/flights_jantojun2020_1K_cleaned.csv', index=False)

In [68]:
# revert pandas settings back to normal
pd.reset_option('display.max_columns')

# Last run

In [69]:
get_current_datetime()

'2025-05-29 23:12:56'

In [70]:
# Capture end time
end_time = datetime.now()

# Compute time difference
diff = end_time - start_time

# Total seconds (float)
total_seconds = diff.total_seconds()

# Decompose
hours, rem = divmod(total_seconds, 3600)
minutes, rem = divmod(rem, 60)
seconds = int(rem)
milliseconds = diff.microseconds // 1000

# Display
print(f"Start time : {start_time.strftime('%Y-%m-%d %H:%M:%S.%f')}")
print(f"End time   : {end_time.strftime('%Y-%m-%d %H:%M:%S.%f')}")
print(f"Duration   : {int(hours)}h {int(minutes)}m {seconds}s {milliseconds}ms")

Start time : 2025-05-29 23:10:45.308274
End time   : 2025-05-29 23:12:56.226732
Duration   : 0h 2m 10s 918ms