Name: Zuha Aqib, Kisa Fatima    
Class: 10am batch    
Date: 4th May 2025

# Imports

In [235]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime, timedelta

In [236]:
# Function to get current date and time as a string
def get_current_datetime():
    return datetime.now().strftime("%Y-%m-%d %H:%M:%S")

# Data Loading

In [237]:
# Load the dataset
df = pd.read_csv('data/Student_performance_data.csv')

# Display the first few rows
df.head()

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0

# Preparing the data

## Data Information

In [238]:
# Check for missing values
print("Missing values per column:")
df.isnull().sum()

Missing values per column:

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [239]:
# Display data types
print("\nData types:")
df.dtypes

Data types:

StudentID              int64
Age                    int64
Gender                 int64
Ethnicity              int64
ParentalEducation      int64
StudyTimeWeekly      float64
Absences               int64
Tutoring               int64
ParentalSupport        int64
Extracurricular        int64
Sports                 int64
Music                  int64
Volunteering           int64
GPA                  float64
GradeClass           float64
dtype: object

In [240]:
# Get summary statistics
print("\nSummary statistics:")
df.describe(include='all')

Summary statistics:

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
count,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000,2392.000000
mean,2196.500000,16.468645,0.510870,0.877508,1.746237,9.771992,14.541388,0.301421,2.122074,0.383361,0.303512,0.196906,0.157191,1.906186,2.983696
std,690.655244,1.123798,0.499986,1.028476,1.000411,5.652774,8.467417,0.458971,1.122813,0.486307,0.459870,0.397744,0.364057,0.915156,1.233908
min,1001.000000,15.000000,0.000000,0.000000,0.000000,0.001057,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1598.750000,15.000000,0.000000,0.000000,1.000000,5.043079,7.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.174803,2.000000
50%,2196.500000,16.000000,1.000000,0.000000,2.000000,9.705363,15.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,1.893393,4.000000
75%,2794.250000,17.000000,1.000000,2.000000,2.000000,14.408410,22.000000,1.000000,3.000000,1.000000,1.000000,0.000000,0.000000,2.622216,4.000000
max,3392.000000,18.000000,1.000000,3.000000,4.000000,19.978094,29.000000,1.000000,4.000000,1.000000,1.000000,1.000000,1.000000,4.000000,4.000000

## Changing Data Types

In [241]:
def to_string(df, column_name):
    """
    Convert a pandas DataFrame column to a string.
    """
    df[column_name] = df[column_name].astype('string')
    print(f"Column Name: '{column_name}', Type: {df[column_name].dtype}")
    return df

## Adding new column

In [242]:
# Mapping for GradeClass
grade_mapping = {
    0: 'A',  # GPA >= 3.5
    1: 'B',  # 3.0 <= GPA < 3.5
    2: 'C',  # 2.5 <= GPA < 3.0
    3: 'D',  # 2.0 <= GPA < 2.5
    4: 'F'   # GPA < 2.0
}

# Create a new column 'GradeLabel' based on 'GradeClass'
df['GradeLabel'] = df['GradeClass'].map(grade_mapping)
df = to_string(df, 'GradeLabel')

# Optional: check the result
df['GradeLabel'].value_counts()

Column Name: 'GradeLabel', Type: string

GradeLabel
F    1211
D     414
C     391
B     269
A     107
Name: count, dtype: Int64

In [243]:
# Mapping for a new column
mapping = {
    0: 'Male', 
    1: 'Female'
}

# Create a new column 
df['Gender_C'] = df['Gender'].map(mapping)
df = to_string(df, 'Gender_C')

# Optional: check the result
df['Gender_C'].value_counts()

Column Name: 'Gender_C', Type: string

Gender_C
Female    1222
Male      1170
Name: count, dtype: Int64

In [244]:
# Mapping for a new column
mapping = {
    0: 'Caucasian',
    1: 'African American',
    2: 'Asian',
    3: 'Other'
}

# Create a new column 
df['Ethnicity_C'] = df['Ethnicity'].map(mapping)
df = to_string(df, 'Ethnicity_C')

# Optional: check the result
df['Ethnicity_C'].value_counts()

Column Name: 'Ethnicity_C', Type: string

Ethnicity_C
Caucasian           1207
African American     493
Asian                470
Other                222
Name: count, dtype: Int64

In [245]:
# Mapping for a new column
mapping = {
    0: 'None',
    1: 'High School',
    2: 'Some College',
    3: 'Bachelors',
    4: 'Higher'
}

# Create a new column 
df['ParentalEducation_C'] = df['ParentalEducation'].map(mapping)
df = to_string(df, 'ParentalEducation_C')

# Optional: check the result
df['ParentalEducation_C'].value_counts()

Column Name: 'ParentalEducation_C', Type: string

ParentalEducation_C
Some College    934
High School     728
Bachelors       367
None            243
Higher          120
Name: count, dtype: Int64

In [246]:
# Mapping for a new column
mapping = {
    0: 'No', 
    1: 'Yes'
}

# Create a new column 
df['Tutoring_C'] = df['Tutoring'].map(mapping)
df = to_string(df, 'Tutoring_C')

# Optional: check the result
df['Tutoring_C'].value_counts()

Column Name: 'Tutoring_C', Type: string

Tutoring_C
No     1671
Yes     721
Name: count, dtype: Int64

In [247]:
# Mapping for a new column
mapping = {
    0: 'None',
    1: 'Low',
    2: 'Moderate',
    3: 'High',
    4: 'Very High'
}

# Create a new column 
df['ParentalSupport_C'] = df['ParentalSupport'].map(mapping)
df = to_string(df, 'ParentalSupport_C')

# Optional: check the result
df['ParentalSupport_C'].value_counts()

Column Name: 'ParentalSupport_C', Type: string

ParentalSupport_C
Moderate     740
High         697
Low          489
Very High    254
None         212
Name: count, dtype: Int64

In [248]:
# Mapping for a new column
mapping = {
    0: 'No', 
    1: 'Yes'
}

# Create a new column 
df['Extracurricular_C'] = df['Extracurricular'].map(mapping)
df = to_string(df, 'Extracurricular_C')

# Optional: check the result
df['Extracurricular_C'].value_counts()

Column Name: 'Extracurricular_C', Type: string

Extracurricular_C
No     1475
Yes     917
Name: count, dtype: Int64

In [249]:
# Mapping for a new column
mapping = {
    0: 'No', 
    1: 'Yes'
}

# Create a new column 
df['Sports_C'] = df['Sports'].map(mapping)
df = to_string(df, 'Sports_C')

# Optional: check the result
df['Sports_C'].value_counts()

Column Name: 'Sports_C', Type: string

Sports_C
No     1666
Yes     726
Name: count, dtype: Int64

In [250]:
# Mapping for a new column
mapping = {
    0: 'No', 
    1: 'Yes'
}

# Create a new column 
df['Music_C'] = df['Music'].map(mapping)
df = to_string(df, 'Music_C')

# Optional: check the result
df['Music_C'].value_counts()

Column Name: 'Music_C', Type: string

Music_C
No     1921
Yes     471
Name: count, dtype: Int64

In [251]:
# Mapping for a new column
mapping = {
    0: 'No', 
    1: 'Yes'
}

# Create a new column 
df['Volunteering_C'] = df['Volunteering'].map(mapping)
df = to_string(df, 'Volunteering_C')

# Optional: check the result
df['Volunteering_C'].value_counts()

Column Name: 'Volunteering_C', Type: string

Volunteering_C
No     2016
Yes     376
Name: count, dtype: Int64

In [252]:
######### INSERT DATE COLUMN

# Sample size equal to number of rows in your DataFrame
n = len(df)

# Step 1: Define valid date ranges (excluding June–August, late Dec–early Jan)
valid_ranges = [
    pd.date_range(start='2024-01-08', end='2024-05-31'),
    pd.date_range(start='2024-09-01', end='2024-12-15')
]

# Step 2: Combine into a single list of valid dates
valid_dates = pd.DatetimeIndex([])  # empty index to start
for r in valid_ranges:
    valid_dates = valid_dates.append(r)

# Optional: Remove global holidays (some common ones)
# You can also use a holiday package like `holidays`, but here are some hardcoded major ones
excluded_dates = pd.to_datetime([
    '2024-01-01',  # New Year's Day
    '2024-04-10',  # Eid al-Fitr (approx)
    '2024-12-25',  # Christmas
    '2024-11-28',  # Thanksgiving (USA)
    '2024-10-03',  # German Unity Day
    '2024-07-04',  # US Independence Day
])

# Filter out excluded holidays
valid_dates = valid_dates.difference(excluded_dates)

# Step 3: Randomly assign dates to DataFrame
np.random.seed(42)  # for reproducibility
random_dates = np.random.choice(valid_dates, size=n, replace=True)

# Step 4: Add to DataFrame
df['Date'] = random_dates

# Optional: Check the new column
print(df[['Date']].head())

        Date
0 2024-04-20
1 2024-10-07
2 2024-04-09
3 2024-01-22
4 2024-04-24

In [253]:
# Step 2: Move 'Date' column right after 'studentID'
cols = df.columns.tolist()  # get column list
if 'StudentID' in cols:
    # Find index of 'studentID' and insert 'Date' after it
    idx = cols.index('StudentID') + 1
    cols.remove('Date')  # remove 'Date' from current position
    cols.insert(idx, 'Date')  # insert it at the desired position
    df = df[cols]  # reassign column order
else:
    print("Warning: 'studentID' column not found. 'Date' will remain at the end.")

# Optional: preview new column order
df.head()

,StudentID,Date,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,...,GradeLabel,Gender_C,Ethnicity_C,ParentalEducation_C,Tutoring_C,ParentalSupport_C,Extracurricular_C,Sports_C,Music_C,Volunteering_C
0,1001,2024-04-20,17,1,0,2,19.833723,7,1,2,...,C,Female,Caucasian,Some College,Yes,Moderate,No,No,Yes,No
1,1002,2024-10-07,18,0,0,1,15.408756,0,0,1,...,B,Male,Caucasian,High School,No,Low,No,No,No,No
2,1003,2024-04-09,15,0,2,3,4.210570,26,0,2,...,F,Male,Asian,Bachelors,No,Moderate,No,No,No,No
3,1004,2024-01-22,17,1,0,3,10.028829,14,0,3,...,D,Female,Caucasian,Bachelors,No,High,Yes,No,No,No
4,1005,2024-04-24,17,1,0,2,4.672495,17,1,3,...,F,Female,Caucasian,Some College,Yes,High,No,No,No,No

In [254]:
df['Date'].value_counts()

Date
2024-11-11    20
2024-10-17    19
2024-02-15    18
2024-11-16    17
2024-02-05    17
              ..
2024-11-29     3
2024-09-12     3
2024-04-19     3
2024-04-03     3
2024-03-24     3
Name: count, Length: 248, dtype: int64

# Checking
1. Select a dataset of your choice from Kaggle which meets the following criteria.
- a. Must contain a date column that can enable a time series analysis.
- b. Must contain at least 2 facts i.e. KPIs/numerical measures.
- c. Must contain at least 4 categorical variables.
- d. Must have at least 300 records.
- e. Must not be from the list of datasets provided for the project.

In [255]:
df.dtypes

StudentID                       int64
Date                   datetime64[ns]
Age                             int64
Gender                          int64
Ethnicity                       int64
ParentalEducation               int64
StudyTimeWeekly               float64
Absences                        int64
Tutoring                        int64
ParentalSupport                 int64
Extracurricular                 int64
Sports                          int64
Music                           int64
Volunteering                    int64
GPA                           float64
GradeClass                    float64
GradeLabel             string[python]
Gender_C               string[python]
Ethnicity_C            string[python]
ParentalEducation_C    string[python]
Tutoring_C             string[python]
ParentalSupport_C      string[python]
Extracurricular_C      string[python]
Sports_C               string[python]
Music_C                string[python]
Volunteering_C         string[python]
dtype: object

so we can see there are atleast 4 categorical columns (gender, ethnicity, parental support, parental eductaion etc).   
we can see atleast 2 numerical (absenses, study time weekly, gpa, age etc)    
we can see a date column

In [256]:
no_of_rows = df.shape[0]
no_of_rows

2392

and we can see the dataset if of >=300 rows (its nearly 2400)

DATASET IS APPROVED

# Saving back to csv

In [257]:
# Save the cleaned DataFrame to a CSV file
df.to_csv('data/student_performance_cleaned.csv', index=False)